<!-- Section-15-->
<table class="table_full editable-bg-color bg_color_e6e6e6 editable-bg-image" bgcolor="#e6e6e6" width="100%" align="center"  mc:repeatable="castellab" mc:variant="Header" cellspacing="0" cellpadding="0" border="0">
	<!-- header -->
	<tr>
		<td>
			<table class="table1 editable-bg-color bg_color_303f9f" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto; background-color: rgb(230, 230, 230);">
				<tr>
					<td>
					<!-- logo -->
						<table align="center" border="0" cellspacing="0" cellpadding="0">
							<tr><td height="22"></td></tr>
							<tr>
								<td align="center">
									<a href="#" class="editable-img">
										<img src="https://salvadoracademy.com/componentes/images/logos/logo.png" width="180" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="logo" />
									</a>
								</td>
							</tr>
							<tr><td height="22"></td></tr>
						</table><!-- END logo -->
					</td>
				</tr>
			</table>

			<!-- container -->
			<table class="table1 editable-bg-color bg_color_303f9f" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto; background: #136a8a;  /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
				<!-- padding-top -->
				<tr><td height="50"></td></tr>
				<tr>
					<td>
						<!-- Inner container -->
						<table class="table1" width="520" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">

							<!-- horizontal gap -->
							<tr>
								<td align="center">
									<div class="editable-img">
										<img src="https://salvadoracademy.com/componentes/images/mails/credit-card.png"  style="display:block; line-height:0; font-size:0; border:0;" width="50" border="0" alt="" />
									</div>
								</td>
							</tr>

							<!-- horizontal gap -->
							<tr><td height="10"></td></tr>

							<tr>
								<td mc:edit="text001" align="center" class="text_color_ffffff" style="color: #ffffff; font-size: 1.5em; font-weight: 700; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text">
										<span class="text_container">
											<multiline>Comprobante de Pago</multiline>
										</span>
									</div>
								</td>
							</tr>

							<!-- horizontal gap -->
						</table><!-- END inner container -->
					</td>
				</tr>
				<!-- padding-bottom -->
				<tr><td height="30"></td></tr>
			</table><!-- END container -->
		</td>
	</tr>
	
	<!-- body -->
	<tr>
		<td>
			<!-- container -->
			<table class="table1 editable-bg-color bg_color_ffffff" bgcolor="#ffffff" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
				<!-- padding-top -->
				<tr><td height="40"></td></tr>

				<tr>
					<td>
						
					</td>
				</tr>

				<tr>
					<td>
						<!-- inner container -->
						<table class="table1" width="520" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">

							<tr>
								<td mc:edit="text004" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 14px;line-height: 2; font-weight: 500; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text" style="line-height: 2;">
										<span class="text_container">
											<center style="font-size: 24px;">%%nombre%%</center>
										</span>
									</div>
								</td>
							</tr>

							<!-- horizontal gap -->
							<tr><td height="20"></td></tr>

							<tr>
								<td mc:edit="text004" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 14px;line-height: 2; font-weight: 500; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text" style="line-height: 2;">
										<span class="text_container text-center">
											<multiline>Hemos recibido tu pago y ha sido registrado, adjuntamos tu recibo de pago correspondiente.</multiline>
										</span>
									</div>
								</td>
							</tr>

							<!-- horizontal gap -->
							<tr><td height="20"></td></tr>

							<tr>
								<td mc:edit="text004" align="left" class="center_content text_color_282828" style="color: #282828; font-size: 0.8em;line-height: 2; font-weight: 500; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text" style="line-height: 2;">
										<span class="text_container text-center">
											<center style="line-height: 12px;">%%voucher%%</center>
										</span>
									</div>
								</td>
							</tr>					

							<!-- horizontal gap -->
							<tr><td height="30"></td></tr>
						</table><!-- END inner container -->
					</td>
				</tr>

				<!-- padding-bottom -->
				<tr><td height="30"></td></tr>
			</table><!-- END container -->
		</td>
	</tr>

	<!-- footer -->
	<tr>
		<td>
			<!-- container -->
			<table class="table1" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
				<!-- padding-top -->
				<tr><td height="20"></td></tr>

				<tr>
					<td>
						<!--  column-1 -->
						<table class="table1-2" width="350" align="left" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td mc:edit="text010" align="left" class="center_content text_color_929292" style="color: #929292; font-size: 14px; line-height: 2; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
									<div class="editable-text" style="line-height: 2;">
										<span class="text_container">
											<multiline>
												© 2018 Salvador Academy. Todos los derechos reservados<a href="https://salvadoracademy.com" style="color: #303f9f;text-decoration: none;"> salvadoracademy.com</a>
											</multiline>
										</span>
									</div>
								</td>
							</tr>

							<!-- margin-bottom -->
							<tr><td height="30"></td></tr>
						</table><!-- END column-1 -->

						<!-- vertical gap -->
						<table class="tablet_hide" width="130" align="left" border="0" cellspacing="0" cellpadding="0">
							<tr><td height="1"></td></tr>
						</table>

						<!-- column-2  -->
						<table class="table1-2" width="120" align="right" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<table width="120" align="center" style="margin: 0 auto;">
										<tr>
											<!-- facebook -->
											<td align="center" width="30">
												<a href="https://www.instagram.com/salvadoracademy/" style="border-style: none !important; display: inline-block;; border: 0 !important;" class="editable-img">
													<img width="22" src="https://salvadoracademy.com/componentes/images/mails/instagram.png" width="30" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="" />
												</a>
											</td>

											<!-- vertical gap -->
											<td width="15"></td>

											<!-- twitter -->
											<td align="center" width="30">
												<a href="https://twitter.com/salvadoracademy" style="border-style: none !important; display: inline-block; border: 0 !important;" class="editable-img">
													<img width="22" src="https://salvadoracademy.com/componentes/images/mails/twitter.png" width="30" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="" />
												</a>
											</td>

											<!-- vertical gap -->
											<td width="15"></td>

											<!-- google+ -->
											<td align="center" width="30">
												<a href="https://facebook.com/academiasalvador/" style="border-style: none !important; display: inline-block;; border: 0 !important;" class="editable-img">
													<img width="22" src="https://salvadoracademy.com/componentes/images/mails/facebook.png" width="30" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="" />
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- margin-bottom -->
							<tr><td height="30"></td></tr>
						</table><!-- END column-2 -->
					</td>
				</tr>

				<!-- padding-bottom -->
				<tr><td height="70"></td></tr>
			</table><!-- END container -->
		</td>
	</tr>
</table><!-- END wrapper -->