.logo-academy{
	padding: 6px 50px 6px 0px!important;
}
.bg-white{
	background-color: #fff;
}
.text-theme{
	color: #202C45; 
}
.label-curso{
	border-bottom: 1px solid #202C45;
}
.bg-mingallery{
	background-color: #e0e0e0 !important;
}
.panel-administrador{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 6px 20px 6px;
}
.pl-8{
	padding-left: 8px!important;
}
.pl-0{
	padding-left: 0px!important;
}
.pr-0{
	padding-right: 0px!important;
}
.style_prevu_kit{
    display:inline-block;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
.style_prevu_kit:hover{
    box-shadow: 0px 0px 20px #00000085;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.025);
}
.icon-course{
    padding-top: 28%;
    padding-left: 45%;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
}
.bg-access{
    background-color: #dedbd3!important;
}
.icon-count{
    color: #4a4339!important;
}
.bgn-dark{
    background-color: #4a4339!important;
}
.bgn-medium{
    background-color: #948671!important;
}
.bgn-light{
    background-color: #bab4a6!important;
}
.border-mingallery{
    /* border: 5px solid #948671; */
}
.mb-0{
    margin-bottom: 0px!important;
}
.card:hover{
    background-color: #4a4339!important;
    color: #fff;
}
.color-dark{
    color: #333;
}
.color-dark:hover{
    color: #fff;
}
.style_prevu_kit2{
    display:inline-block;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}
.style_prevu_kit2:hover{
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.06);
}

/****** Cell Edit Style ******/
.my-input-class {
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.my-confirm-class {
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #3392e4;
    text-decoration: none;
}
.my-cancel-class {
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #c5413e;
    text-decoration: none;
}
.error {
    border: solid 1px;
    border-color: #a94442;
}
.destroy-button{
    padding:5px 10px 5px 10px;
    border: 1px blue solid;
    background-color:lightgray;
}
.icon-view, .icon-edit, .icon-times{
    color: #292929;
    margin-right: 10%;
    font-size:  16px;
}
.icon-times{
    color: #e32028
}
.icon-check{
    color: green;
}
.icon-view:hover, .icon-edit:hover, .icon-times:hover{
    color: #20a6f5;
}
.st-modalform{
    width: 100%; 
    background-color: #dedbd3; 
    padding:5px 20px; 
    margin-bottom: 20px;
}
.form-control{
    color: #999999;
}
.pointer{
    cursor: pointer;
}
.w3-card-4{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.card-academy{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 440px;
    width: calc(100% - 40px);
    padding: 44px;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 3px #212121;
}
.common-background{
    background: url(/componentes/images/main/bg-clasic2.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}
.modern-input{
    border: none;
    border-bottom: 1px solid;
    width: 100%;
    height: 25px;
    padding: 15px 10px 15px 30px;
}
.modern-input:focus{
    box-shadow: none;
    border-bottom: 1px solid #948671!important;
}
.w-70{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.badge{
    background-color: #989898;
    float: right;
    font-size: 15px;
    padding: 5px;
}
.panel-title{
    border: 1px solid #ddd;
}
#voucher tr {
    line-height: 15px;
}
.galeria-img{
    padding: 0;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #fff;
}
.galeria-img:hover{
    border: 1px solid #000;
}
.active-int{
    background-color: #dedbd3;
    color: #000!important;
    font-weight: bold;
}